.chat {
  display: grid;
  grid-template-columns: 50% 50%;
}

video.userVideo,
video.partnerVideo {
  border: solid rgb(116, 188, 255) 3px;
  width: 100%;
  border-radius: 5px;
  max-height: 800px;
}

.chatButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;
}

@media screen and (max-width: 900px) {
  .chat {
    grid-template-columns: 25% 75%;
  }
}
