@font-face {
  font-family: "Original_Surfer";
  src: local("Original_Surfer"),
    url("./fonts/Original_Surfer/OriginalSurfer-Regular.ttf") format("truetype");
  font-weight: bold;
}

.newRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div.newRoom h2 {
  font-family: Original_Surfer;
}

div.newRoom h3 {
  background: #eae9ee;
}
