header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./images/header-bg.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3%;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
}

header img {
  width: 75px;
}

.hidden {
  display: none;
}

button.headerButton {
  background: rgb(116, 188, 255);
  border: 3px black solid;
  margin-top: 2%;
}

@media screen and (min-width: 900px) {
  header {
    flex-direction: row;
    padding-bottom: 0%;
  }

  img {
    padding-left: 3%;
  }

  Link.headerButton {
    margin-top: 0;
    margin-left: 2%;
  }
}

header Link,
Link h1 {
  color: black;
}

header Link:link {
  color: black;
}

header Link:visited {
  color: black;
}

header Link:hover {
  color: black;
}

header Link:active {
  color: black;
}
