@font-face {
  font-family: "Original_Surfer";
  src: local("Original_Surfer"),
    url("./fonts/Original_Surfer/OriginalSurfer-Regular.ttf") format("truetype");
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./images/header-bg.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3%;
  width: 100%;
}

header h1 {
  font-family: Original_Surfer;
}

header img {
  width: 75px;
}

.hidden {
  display: none;
}

button.logoutButton {
  background: #3dbfcf;
  border: 3px black solid;
  margin-top: 2%;
}

@media screen and (min-width: 900px) {
  header {
    flex-direction: row;
    padding-bottom: 0%;
  }

  img {
    padding-left: 3%;
  }

  button.logoutButton {
    margin-top: 0;
    margin-left: 3%;
  }
}

header Link,
Link h1 {
  color: black;
}

header Link:link {
  color: black;
}

header Link:visited {
  color: black;
}

header Link:hover {
  color: black;
}

header Link:active {
  color: black;
}
