.modal {
  position: absolute;
  top: 35%;
  left: 42%;
  right: 42%;
  bottom: 45%;
  background-color: white;
  border: solid 3px #3dbfcf;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./images/modal-background.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboardModal {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background: url("./images/modal-bg.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 3px #3dbfcf;
  border-radius: 5px;
}

.dashboardOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a000f;
}

@media screen and (max-width: 1000px) {
  .modal {
    border: none;
    background: transparent;
  }
}

@media screen and (max-width: 950px) {
  .dashboardModal {
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
  }
}
